.return-button {
  text-decoration: none;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: flex-start;
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: sticky;
  top: 0;
  z-index: 30;
}

.return-arrow {
  display: inline-block;
  transform: rotate(180deg);
  margin-right: 10px;
}
