.property-title {
  color: $main-color;
  font-size: 2.25rem;
  font-weight: $medium-font;
  min-height: 3.188rem;
  @media (max-width: 899px) {
    font-size: 1.125rem;
    min-height: 0;
    margin-bottom: 0.313rem;
  }
}

.property-location {
  color: $secondary-color;
  font-size: 1.125rem;
  font-weight: $medium-font;
  min-height: 1.625rem;
  @media (max-width: 899px) {
    font-size: 0.875rem;
    min-height: 0;
  }
}
