@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Montserrat;
}

header {
  margin: auto;
  margin-top: 2.813rem;
  margin-bottom: 3.125rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 899px) {
  header {
    margin-bottom: 1.688rem;
  }
}
@media (max-width: 899px) {
  header img {
    width: 145px;
  }
}

header ul {
  display: flex;
  gap: 3.563rem;
}
@media (max-width: 899px) {
  header ul {
    gap: 1.625rem;
  }
}
header ul a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 899px) {
  header ul a {
    font-size: 0.75rem;
  }
}
header ul a.active {
  text-decoration: underline;
  text-underline-offset: 0.375rem;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 1.563rem;
  background: #000;
  height: 13.938rem;
  width: 85%;
  position: relative;
  margin-bottom: 2.688rem;
}
@media (max-width: 899px) {
  #banner {
    width: 90%;
    min-width: 20.938rem;
    height: 6.938rem;
    margin-bottom: 1.375rem;
    justify-content: flex-start;
  }
}
#banner img {
  border-radius: 1.563rem;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  position: absolute;
}
#banner div {
  position: absolute;
  color: #ffffff;
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  gap: 1rem;
}
@media (max-width: 1199px) {
  #banner div {
    font-size: 2.25rem;
  }
}
@media (max-width: 899px) {
  #banner div {
    flex-direction: column;
    font-size: 1.5rem;
    gap: 0;
    padding-left: 1rem;
  }
}

footer {
  background-color: #000;
  color: #ffffff;
  height: 13.063rem;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 90rem;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4.125rem 0 1.813rem 0;
}
@media (max-width: 899px) {
  footer div {
    justify-content: center;
  }
}
footer div img {
  width: 7.625rem;
}
footer div p {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 899px) {
  footer div p {
    font-size: 0.75rem;
    width: 7.625rem;
    height: 2.875rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }
}

#error-page {
  margin: 5.563rem 0 8.688rem 0;
  display: flex;
  flex-direction: column;
  gap: 8.688rem;
  align-items: center;
  color: #ff6060;
}
#error-page div {
  font-size: 18rem;
  font-weight: 700;
}
@media (max-width: 1199px) {
  #error-page div {
    font-size: 12rem;
  }
}
@media (max-width: 899px) {
  #error-page div {
    font-size: 6rem;
  }
}
#error-page span {
  font-size: 2.25rem;
  font-weight: 500;
}
@media (max-width: 1199px) {
  #error-page span {
    font-size: 1.5rem;
  }
}
@media (max-width: 899px) {
  #error-page span {
    font-size: 1.125rem;
    text-align: center;
    max-width: 90%;
  }
}
#error-page p {
  color: #000;
  text-decoration: underline;
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (max-width: 1199px) {
  #error-page p {
    font-size: 1rem;
  }
}
@media (max-width: 899px) {
  #error-page p {
    font-size: 0.875rem;
  }
}

.collapse-container {
  margin-bottom: 1.875rem;
}
@media (max-width: 899px) {
  .collapse-container {
    margin-bottom: 1.25rem;
  }
}

.collapse-button {
  margin: auto;
  border-radius: 0.313rem;
  padding: 0.625rem 0.938rem;
  background-color: #ff6060;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 63.938rem;
  height: 3.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .collapse-button {
    max-width: 47rem;
  }
}
@media (max-width: 899px) {
  .collapse-button {
    min-width: 20.938rem;
    max-width: 85%;
    font-size: 0.813rem;
  }
}

.collapse-arrow.open {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.collapse-arrow.closed {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.collapse-content {
  max-height: 0;
}
.collapse-content.open {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  margin: auto;
  padding: 1rem 1.25rem 1.25rem 1.25rem;
  width: 61.438rem;
  max-height: 18.75rem;
  transition: max-height 0.5s ease;
}
@media (max-width: 1199px) {
  .collapse-content.open {
    max-width: 45rem;
  }
}
@media (max-width: 899px) {
  .collapse-content.open {
    min-width: 18.938rem;
    max-width: 85%;
    font-size: 0.813rem;
  }
}
.collapse-content.closed {
  max-height: 0;
  transition: max-height 0.5s ease;
}

#card-list {
  max-width: 77.5rem;
  padding: 3.5rem 3.125rem 2.688rem 3.125rem;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 3.75rem;
  row-gap: 3.125rem;
  justify-content: center;
}
@media (max-width: 899px) {
  #card-list {
    padding: 0;
    gap: 1.25rem;
    margin-bottom: 1.688rem;
  }
}

article {
  border-radius: 0.625rem;
  border-radius: 0.625rem;
  height: 21.25rem;
  width: 21.25rem;
  position: relative;
}
@media (max-width: 899px) {
  article {
    width: 20.938rem;
    height: 15.938rem;
  }
}
article img {
  border-radius: 0.625rem;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
article h2 {
  position: absolute;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 700;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 2;
}

article::before {
  content: "";
  border-radius: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.3) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.carrousel {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 25.938rem;
  margin-bottom: 1.875rem;
}
@media (max-width: 899px) {
  .carrousel {
    height: 15.938rem;
    width: 90%;
  }
}

.slide {
  border-radius: 1.563em;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2.918rem;
  height: 4.95rem;
  color: #ffffff;
}
@media (max-width: 899px) {
  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.arrow:hover {
  cursor: pointer;
}
.arrow.arrow-left {
  left: 1.46rem;
  bottom: 11.194rem;
}
@media (max-width: 899px) {
  .arrow.arrow-left {
    left: 0;
    bottom: 7.188rem;
  }
}
.arrow.arrow-right {
  right: 1.46rem;
  bottom: 11.194rem;
}
@media (max-width: 899px) {
  .arrow.arrow-right {
    right: 0;
    bottom: 7.188rem;
  }
}

.indicator {
  position: absolute;
  bottom: 1.558rem;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}
@media (max-width: 899px) {
  .indicator {
    display: none;
  }
}

.hidden {
  display: none;
}

.property-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
@media (max-width: 899px) {
  .property-details {
    flex-direction: column;
    align-items: inherit;
  }
}

.property-title {
  color: #ff6060;
  font-size: 2.25rem;
  font-weight: 500;
  min-height: 3.188rem;
}
@media (max-width: 899px) {
  .property-title {
    font-size: 1.125rem;
    min-height: 0;
    margin-bottom: 0.313rem;
  }
}

.property-location {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  min-height: 1.625rem;
}
@media (max-width: 899px) {
  .property-location {
    font-size: 0.875rem;
    min-height: 0;
  }
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  margin: 1.25rem 0 1.5rem;
}
@media (max-width: 899px) {
  .tags-container {
    margin: 0.625rem 0 1rem;
    flex-wrap: wrap;
  }
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.188rem;
  height: 1.563rem;
  border-radius: 0.625rem;
  background: #ff6060;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  padding: 0 0.5rem;
}
@media (max-width: 899px) {
  .tags {
    font-size: 0.625rem;
    min-width: 5.25rem;
    padding: 0;
    height: 1.125rem;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  align-items: center;
}
@media (max-width: 899px) {
  .user-info {
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-between;
  }
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.user-avatar p {
  display: flex;
  align-items: center;
  color: #ff6060;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 500;
  width: 5.813rem;
  height: 3.25rem;
}
@media (max-width: 899px) {
  .user-avatar p {
    font-size: 0.75rem;
    width: 4rem;
  }
}
.user-avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 899px) {
  .user-avatar img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
  }
}

.user-rating {
  width: 12.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
@media (max-width: 899px) {
  .user-rating {
    width: 6.125rem;
    height: 1.125rem;
  }
}
.user-rating .star {
  height: 70%;
}

.property-collapses {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .property-collapses {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
}
.property-collapses .collapse-container {
  margin-bottom: 3.125rem;
}
@media (max-width: 899px) {
  .property-collapses .collapse-container {
    margin-bottom: 1.25rem;
  }
}
.property-collapses .collapse-button {
  max-width: 36.375rem;
  height: 3.25rem;
}
@media (max-width: 1439px) {
  .property-collapses .collapse-button {
    max-width: 30rem;
  }
}
@media (max-width: 1199px) {
  .property-collapses .collapse-button {
    max-width: 22rem;
  }
}
@media (max-width: 899px) {
  .property-collapses .collapse-button {
    max-width: inherit;
    width: 100%;
  }
}
.property-collapses .collapse-content.open {
  width: 33.875rem;
}
@media (max-width: 1439px) {
  .property-collapses .collapse-content.open {
    max-width: 27rem;
  }
}
@media (max-width: 1199px) {
  .property-collapses .collapse-content.open {
    max-width: 19rem;
  }
}
@media (max-width: 899px) {
  .property-collapses .collapse-content.open {
    max-width: inherit;
    width: 90%;
  }
}
.property-collapses li {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */